<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="MainAppShortcut"/>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\Fdo.Api.Contato.Vistoria\bin\Debug\netcoreapp3.1\win-$(var.Platform)\publish\">
      <Component Id="MainAppShortcut" Guid="{9CF9FAF0-FC6D-4258-A350-2A5F6952B380}">

        <Shortcut Id="MainAppShortcut" 
                  Name="!(loc.ProductName)"
                  Target="[INSTALLFOLDER]Fdo.Api.Contato.Vistoria.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"
                  />

        <RegistryValue Id="RegShortcutKey" 
                       Root="HKCU" 
                       Key="SOFTWARE\$(loc.ProductNameFolder)" 
                       Name="Shortcut" 
                       Value="1" 
                       Type="integer" 
                       KeyPath="yes" />
        
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
